<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <p><%= review.content %> - <%= review.rating %> stars</p>
    </li>
  <% end %>
</ul>
<%= link_to "See all restaurants", restaurants_path %>
<%= link_to "Review", new_restaurant_review_path(@restaurant) %>
